name: CI

on:
  pull_request:
    branches: ["master"]

permissions:
  contents: read
  packages: read

jobs:
  build-linux:
    uses: ./.github/workflows/build-linux.yml
    permissions:
      contents: read
      packages: read
    with:
      build_type: "Debug"
      upload_package: false
    secrets:
      GHCR_PAT: ${{ secrets.GHCR_PAT }}
